<div class="mb-4 shadow-sm border-b border-gray-200">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content" data-tabs-active-classes="text-[#009e3c] hover:text-[#009e3c] border-green-600" data-tabs-inactive-classes="text-gray-500 hover:text-gray-600 border-gray-100 hover:border-gray-300" role="tablist">
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg" id="profile-styled-tab" data-tabs-target="#styled-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Simulador</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg" id="estoque-garantia-styled-tab" data-tabs-target="#styled-estoque-garantia" type="button" role="tab" aria-controls="estoque-garantia" aria-selected="false">Estoque e Contra-Garantias</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="dashboard-styled-tab" data-tabs-target="#styled-dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Regras das operações</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="settings-styled-tab" data-tabs-target="#styled-settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Importar arquivos</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="contacts-styled-tab" data-tabs-target="#styled-contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Dados das Operações</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="logging-styled-tab" data-tabs-target="#styled-logging" type="button" role="tab" aria-controls="logging" aria-selected="false">Terminal de Logs</button>
        </li>
    </ul>
</div>

